body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url("/Img/pollito.jpg");
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 9.37rem;
    padding: 0.18rem;
    background-color: rgba(241, 227, 194, 0.3);
    color: azure;
    font-size: x-large;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    text-shadow: 10px 10px 5px gray;
}
h2{
    text-align: center;
    color: #161718;
    font-size: 15px;
    background: transparent;
    font-weight: bold;
    padding: 15px; 
    border-top: 2px solid #cc6a66;
    border-bottom:2px solid #cc6a66;
    
    }

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 20px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: rgb(19, 15, 15);
}
span {
    text-align:center;
    width:150px;
    }

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}


.btn-success:hover
{
    transition: all 1s;
    box-shadow:0.2rem 0.2rem 0.8rem #aaa ;
    background-color: darkgreen;
}



@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?kgy68e');
    src:  url('/fonts/icomoon.eot?kgy68e#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?kgy68e') format('truetype'),
      url('/fonts/icomoon.woff?kgy68e') format('woff'),
      url('/fonts/icomoon.svg?kgy68e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  
.logo{
margin: 0 auto;
display: block;
}

.social-bar
{
  left: 0;
  display: inline-block;
}

.icon
{
  color: #2E406E;
  padding: 7;
  text-decoration: none;
}
.icon-facebook2
{
  background: white;
}
.icon-twitter
{
  color: lightskyblue;
}
.icon-instagram
{
  color: purple;
}

footer > *
{
  width: 100%;
}

.comentarios {
  height: 6rem;
}

@media(min-width:768px)
{
  .formulario{
    width: 90%;
    margin: 10% auto;
  }

  nav{
    width: 100%;
  }

#saludo
{
  position:absolute;
  margin-top: -30px;
  
}
.botones-navegacion
{
    position:absolute;
    margin-top: 50px;
}

.logo-container
{
  float: right;
  right: 0;
  z-index: 1;
}

}

@media screen and (max-width: 500px){
  .formulario{
    width: 90%;
    margin: 10% auto;
    font-size: 1.2rem;
  }

  nav{
    width: 100%;
  }

#saludo
{
  position:absolute;
  margin-top: -30px;
}
.botones-navegacion
{
    position:absolute;
    margin-top: 50px;
}

.logo-container
{
  float: right;
  right: 0;
  z-index: 1;
}

.table
{
  width: 90%;
  margin: 10px auto;
  font-size: 1.2rem;
}

.archivos
{
  font-size: 10px;
}

}

@media screen and (max-width: 400px){
  .formulario{
    width: 90%;
    margin: 10% auto;
    font-size: 1.2rem;
  }

  nav{
    width: 100%;
  }

.logo-container
{
  display: inline-flex;
  width: 68px;
  height: 68px;
}

.btn.btn-success
{
  font-size: 80%;
}

#saludo
{
  position:absolute;
  margin-top: -30px;
}
.botones-navegacion
{
    position:absolute;
    margin-top: 30px;
}

.logo-container
{
  float: right;
  right: 0;
  z-index: 1;
}

.table
{
  width: 90%;
  margin: 10px auto;
  font-size: 1.2rem;
}

.archivos
{
  font-size: 10px;
}

}















